<header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner">
  <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
	  <div class="display-t js-fullheight">
            <h1>キャンパスナビへようこそ</h1>
            <h2>授業選び、もう迷わない！</h2>
            <p>
              <%= link_to 'キャンパスナビを始める', signup_path, class: "btn btn-success btn-lg" %>
            </p>
          </div>
        </div>
      </div>
    </div>
  <div>
</header>
