<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "キャンパスナビ", root_path, id: "logo" %>
    </div>
     <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
       <ul class="nav navbar-nav navbar-right">
           <li><%= link_to "キャンパスナビとは", about_path %></li>
           <li><%= link_to "ユーザー登録(無料)",  signup_path %></li>
           <li><%= link_to "ログイン", "#" %></li>
       </ul>
     </div>
  </div>
</nav>
